.wrapper {
    width: 400px;
    height: 250px;
    background-color: rgb(16, 114, 153);
    margin: 200px auto;
    text-align: center;
    border-radius: 10px;
}
input {
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 13px;
    box-sizing: border-box;
}
.email {
    display: flex;
    justify-content: center;
}
#emailCheck{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-top: 8px;
}
#passwordCheck{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-top: 8px;
}
#passwordRepeatCheck{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-top: 8px;
}
.password{
    display: flex;
    justify-content: center;
    align-items: center;
}
.passwordRepeat{
    display: flex;
    justify-content: center;
}
.text {
    padding-top: 15px;
    width: 285px;
    color: #e6cccc;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: block;
    margin: 0 auto;
}
button {
    margin-top: 10px;
    padding: 8px 20px;
    width: 50%;
    border-radius: 20px;
    background-color: #23d81d;
    color: #333;
}
